<link rel="stylesheet" type="text/css" href="css/styles.css" />

<form id="homeButton" name="homeButton" class="homeButtonForm" method="GET" action="/home">
        <input type="submit" value="Home" class="logoutButton">
</form>

<form id="logout" name="logout" method="GET" action="/" class="logoutButtonForm">
    <input type="submit" value="Log Out" class="logoutButton">
</form>



    <h1>Welcome to your yarn inventory</h1>
    <form id="sortYarnForm" name="sortYarnForm" method="POST" action="/view-yarn-inventory">
        <select id="sortYarn" name="sortYarn" class="sortSelect" onchange="this.form.submit()">
            <option>Sort By</option>
            <option value="brandAZ">Brand (A-Z)</option>
            <option value="brandZA">Brand (Z-A)</option>
            <option value="color">Color</option>
            <option value="yarnWeight">Yarn Weight</option>
        </select>
    </form>

    <table id="yarn-inventory-table" border="1" cellpadding="5">

        {{!-- Header section --}}
        <thead>

            {{!-- For just the first row, we print each key of the row object as a header cell so we
            know what each column means when the page renders --}}
            <tr>
                <th>Brand Name</th>
                <th>Yarn Weight</th>
                <th>Color Family</th>
                <th>More info</th>
                <th>Delete</th>
            </tr>
        </thead>
        
        {{!-- Body section --}}
        <tbody>
            {{!-- For each row, print the id, alcohol name, type, percentage, wholesale price, volume, and inventory count in order --}}
                {{#each data}}
                <tr data-value={{this.yarnID}}>
                    <form id="yarnIDVal" method="GET" action="/yarnInfo">
                    <input type="hidden" name="yarnID" value={{this.yarnID}}>
                    <td>{{this.yarnBrand}}</td>
                    <td>{{this.yarnWeight}}</td>
                    <td>{{this.yarnColorFamily}}</td>
                    <td><input type="submit" value="More Info"></td>
                    <td><button onclick="deleteYarn({{this.yarnID}})">Delete</button></td>

                </tr>
                </form>
                {{/each}}

        </tbody>

    </table>
<script src="js/delete_yarn.js"></script>
